
name: Sensors Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  python-coder-builds:
    name: Build BnPythonCoder Sensors
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./python_nodes_coder

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            submodules: true

      - name: Setup Environment
        run: |
          mkdir -p $HOME/.local/bin
          pip3 install adafruit-nrfutil
          curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh
          mv ./bin/arduino-cli $HOME/.local/bin
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          bash setup_env.sh

      - name: Test All Builds
        run: time python3 bnpython_nodes_coder_arduino.py --test

  android-bodynodessensor:
    name: Build and Test BodynodesSensor App
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./android/BodynodesSensor

    env:
      JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
      ANDROID_HOME: /usr/local/lib/android/sdk/
      PATH: /usr/local/lib/android/sdk/cmdline-tools/16.0/bin/:/usr/local/lib/android/sdk/platform-tools:/usr/bin:/bin

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

#      - name: Setup Android SDK
#        uses: android-actions/setup-android@v3
#        # /usr/local/lib/android/sdk/cmdline-tools/16.0/bin/sdkmanager --licenses
#        with:
#          cmdline-tools-version: 12266719

      - name: Run emulator and tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 33
          target: google_apis
          arch: x86_64
          script: |
            ./gradlew assembleDebug
            ./gradlew connectedDebugAndroidTest