
name: Sensors Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  python-coder-builds:
    name: Build BnPythonCoder Sensors
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./python_nodes_coder

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
            submodules: true

      - name: Setup Environment
        run: |
          mkdir -p $HOME/.local/bin
          pip3 install adafruit-nrfutil
          curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh
          mv ./bin/arduino-cli $HOME/.local/bin
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          bash setup_env.sh

      - name: Test All Builds
        run: time python3 bnpython_nodes_coder_arduino.py --test

  android-bodynodessensor:
    name: Build and Test BodynodesSensor App
    runs-on: ubuntu-latest
    strategy:
      matrix:
        api-level: [35]
        target: [google_apis]

    defaults:
      run:
        working-directory: ./android/BodynodesSensor


    # https://github.com/ReactiveCircus/android-emulator-runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      # Enable caching
      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v3
        
      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run emulator and tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: |
            ./gradlew assembleDebug
            ./gradlew connectedDebugAndroidTest